body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c3e7e1;
}
main {
  padding: 2rem;
  background-color: #b8fffb;
  width: 60vw;
  height: 80vh;
  border-radius: 2rem;
}

button {
  padding: 15px 50px;
  color: #140c27;
  background-color: #5ef477;
  border: none;
  font-size: 20px;
  border-radius: 15px;
  box-shadow: 1px 3px #50514f;
  outline: none;
  transition: 0.3s;
  margin: 1rem;
}

button:hover,
button:active {
  outline: none;
  background: #8fd449;
  cursor: pointer;
  transform: translateY(5px);
}

.game {
  text-align: center;
  position: relative;
  width: auto;
  height: 100%;
}

.container {
  text-align: center;
  position: relative;
  display: inline-block;
  top: 200px;
  transform: translate(-5rem, 2rem);
}

.dice {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.dot {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: -10px 5px 5px -10px;
  border-radius: 20px;
  background-color: #f25f5c;
  box-shadow: inset 2px 2px #d90429;
}
.dice-one {
  position: absolute; 
  left: 150px;
}

.dice-two {
  position: absolute; 
  left: -50px;
}

.side {
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #e5e5e5;
  text-align: center;
  line-height: 2em;
}

.side:nth-child(1) {
  transform: translateZ(3.1em);
}

.side:nth-child(6) {
  transform: rotateY(90deg) translateZ(3.1em);
}

.side:nth-child(3) {
  transform: rotateY(-90deg) translateZ(3.1em);
}

.side:nth-child(4) {
  transform: rotateX(90deg) translateZ(3.1em);
}

.side:nth-child(5) {
  transform: rotateX(-90deg) translateZ(3.1em);
}

.side:nth-child(2) {
  transform: rotateY(-180deg) translateZ(3.1em);
}

.show-1 {
  transform: rotateX(720deg) rotateZ(-720deg);
}

.show-2 {
  transform: rotateX(-900deg) rotateZ(1080deg);
}

.show-6 {
  transform: rotateY(-450deg) rotateZ(-1440deg);
}

.show-3 {
  transform: rotateY(810deg) rotateZ(720deg);
}

.show-4 {
  transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-5 {
  transform: rotateX(450deg) rotateZ(-720deg);
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
  top: 20%;
  left: 20%;
}

.four-3,
.five-3,
.six-4 {
  top: 20%;
  left: 80%;
}

.one-1,
.three-2,
.five-5 {
  top: 50%;
  left: 50%;
}

.four-2,
.five-2,
.six-3 {
  top: 80%;
  left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
  top: 80%;
  left: 80%;
}

.six-2 {
  top: 50%;
  left: 20%;
}

.six-5 {
  top: 50%;
  left: 80%;
}
.players {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.player-card {
  background-color: #c96f6f;
  width: 10rem;
  height: 10rem;
}
.player {
  border-radius: 1rem;
  border: solid;
  border-color: #02292b;
  text-align: center;
  font-size: 2.4rem;
  padding: 1rem;
}
.player div {
  font-size: 2rem;
}

.cur-player {
  background-color: #94fd8a;
}

.won {
  font-size: 8rem;
}
.goal {
  font-size: 5rem;
  text-align: center;
  color: #251952;
}